extends ../layouts/main.pug
block title
  title Contact

block content
  div(class="container about-page")
    div(class="content-box")
      div(class="row")
        div(class="col-md-8")
          h1 Contact Page
          p.
            Lorem ipsum dolor amet knausgaard VHS +1 listicle. Man braid kale chips sriracha master cleanse activated charcoal pork belly. Offal cold-pressed twee fixie yuccie. Artisan kombucha whatever, trust fund austin cronut edison bulb drinking vinegar brooklyn taxidermy leggings hashtag etsy shoreditch umami. Glossier tumblr jean shorts, four loko kogi synth chillwave tilde polaroid. Kinfolk single-origin coffee mixtape cred paleo portland hella pok pok stumptown messenger bag raw denim.

            Hot chicken bitters cray, cornhole craft beer aesthetic brooklyn. Street art mixtape ugh, crucifix put a bird on it fashion axe schlitz chicharrones swag hammock hashtag mumblecore chambray af. Quinoa kitsch you probably haven't heard of them raclette lyft hammock intelligentsia chartreuse kickstarter dreamcatcher 90's pabst cold-pressed. Fam twee DIY, fingerstache readymade subway tile authentic vexillologist blue bottle banjo. Fixie taxidermy pickled cred, crucifix sriracha XOXO.
        div(class="col-md-4")
          img(src='/img/programmer.png')