extends ../layouts/main.pug
block title
  title Blogs

block content
  div(class="container blog-page create-page")
    div(class="content-box")
      div(class="row")
        div(class="col-md-8")
          h1 Blogs
          form(method="POST", action="/blog")
            div
              label(for="title") title
              input(type="text", name="title")
            div
              label(for="description") description
              textarea(name="description")
            div
              button(type="submit") Save Post
        div(class="col-md-4")
          img(src='/img/programmer.png')
