extends ../layouts/main.pug
block title
  title Blogs

block content
  div(class="container blog-page index-page")
      div(class="row")
        div(class="col-md-8")

          each post in posts
            div(class="content-box")
              div(class="row")
                div(class="col-md-12")
                  a(href="/blog/" + post.slug)
                    h1= post.title
                  
                  
          
                
              
        div(class="col-md-4")
          div(class="content-box")
            include ../includes/side-ad.pug