extends ../layouts/main.pug
block title
  title Projects

block content
  div(class="container projects-page show-page")
    div(class="content-box")
      div(class="row")
        div(class="col-md-12")
          h1 Show Project
          p.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque impedit nostrum, quia amet consequatur obcaecati. Ullam dolorem dignissimos tenetur quibusdam, cumque officia suscipit, commodi temporibus minima officiis excepturi aut sunt.
          div(class="col-md-4")
            img(src="https://cdn.dribbble.com/users/425904/screenshots/6966841/media/6bd49c1576685ffd81cb052941f6f6c5.png")
          div(class="col-md-4")
            img(src="https://cdn.dribbble.com/users/425904/screenshots/6966841/media/6bd49c1576685ffd81cb052941f6f6c5.png")
          div(class="col-md-4")
            img(src="https://cdn.dribbble.com/users/425904/screenshots/6966841/media/6bd49c1576685ffd81cb052941f6f6c5.png")
        div(class="col-md-12")
          img(src="https://cdn.dribbble.com/users/425904/screenshots/6966841/media/6bd49c1576685ffd81cb052941f6f6c5.png")